
header {
  position: sticky;
    top: -54px;
}
.header-top {
    background-color:#F2E8CF;
    width: 100%;
    height: 50px;
    font-size: 13px;
    color: #000;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.phone, .envelope {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    margin-left: 50px;
    font-size: larger;
}

.phone span, .envelope span {
    margin-left: 10px; 
}

.header-top span {
    font-family:  "Poppins", sans-serif;
    font-size: small;
    font-weight: 500;
}

.header-top a {
    color: #000; 
    text-decoration: none; 
}
.social-top {
    margin-left:800px ;  
    font-size: 20px;
}
.social-top i {
    margin-right: 25px; 
}
.navbar a {
    padding: 20px 25px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
  }
  
  .navbar li.active a,
  .navbar li:hover a {
    color: #F2E8CF;
    transition: color 0.5s ease;
  }


  .header-bottom a {
    font-family:  "Poppins", sans-serif;
    color: #ffffff;
    text-decoration: none; 
    font-weight: 500;
     
  }
  .navbar {
   display: flex;
    margin-top: -25px;
}
  ul {
    list-style-type: none;
    
  }
  .header-bottom {
  
    justify-content: flex-end;
    align-items: center; 
    background-color: #6F1D1B;
    height: 100px;
    
  }

.navbar {
  
   align-items: center;
}

.navbar img {
   width: 150px; 
   margin-right: 20px;
}
.chevron {
    font-size: 10px; 
    vertical-align: middle; 
}

.contactus {
    width: 100%;
   
}
.left-side a {
  
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 180px;
 
  
}
.left-side li {
  list-style-type: none;
}
.map {
  margin-top: -40px;
}
.contactus h1 {
  color: #000;
 
  margin-left: 80px;
 
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
 
  text-decoration: none;
  font-weight: 600;
}
.desc {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 80px;
}
.contactus hr {
  border: 0; 
  height: 1px; 
  background: #6F1D1B; 
  width: 10%; 
  margin-left: 0px;
  margin-bottom: 30px;
}
.highlight {
  color: #6F1D1B;
 
}


.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-item i {
  font-size: 3em;
  color: #6F1D1B;
}

.contact-item p {
  font-size: large;
  margin: 0%;
  padding: 0%;
  color: #000;
}

.contact-item h4 {
  font-size: 25px;
}

.contact-item .fa-phone-volume {
  transform: rotate(-35deg);
}
.contact-form button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: #7fad39;
  border: none;
}

.empty-space {
  height: 50px;
}

.cv {
  background-color: #6F1D1B;
  width: 20%;
  margin-right: 2000px;
  height: 370px;
  margin-top: 20px; /* Adjust this to position the widget below the sidebar */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://demo.cmssuperheroes.com/themeforest/wp-recruitment/wp-content/themes/wp-recruitment/assets/images/cv.png);
  background-repeat: no-repeat;
  background-position: right -5px bottom -24px;
  background-size: inherit;
}

.cv h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center; 
  color: #F2E8CF;
  margin-right: 67px;
  margin-bottom: 20px; /* Reduce this to bring the description closer to the title */
}

.cv .job-cv-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-top: -20px;
  margin-bottom: 70px; 
  font-weight: 600;
  color: #F2E8CF;
}

.cv button {
 
  padding: 10px 20px;
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  
  color: #6F1D1B;
  background-color: #F2E8CF;
}
.contact-form button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background:#6F1D1B;
  border: none;
}



.contact-form h1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  
  color: #6F1D1B;
}

.contact-form {
  margin-left: -5px;
  width: 80%; 
  padding: 20px; 
}

.contact-form .form-control {
  margin-bottom: 10px;
  height: 100px;
  width: 270px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
 
  font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.035em;
    text-transform: none;
    height: 35px;
    border-color: #cfd8dc;
}



.question {
  background-color: #6F1D1B;
    text-align: center;
    padding: 35px 0;
    height: 130px;
    display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}
.question h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 600;
  
  color: #F2E8CF;
}
.question span {
 
  font-family: "Poppins", sans-serif;
  font-size: 15px;
 color: #F2E8CF;
  font-weight: 400;

}
.question button {
  font-size: 14px;
  color: #F2E8CF;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background:#6F1D1B;
  border-color: #F2E8CF;
  border-radius: 10px;
  border-width: 3px;
  cursor: pointer;
}
.footer-top {
  display: flex; /* Add this */
  text-align: justify;
  height: 300px;
  margin-left: 100px;
  margin-top: 100px;
}
.footer-top span {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 18px;
}
h5 {
  font-size: 13px;
  font-weight: 500;
 
}
.candidates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 300px;
}
.candidates ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.candidates ul li {
  font-size: 13px;
  font-weight: 500;
}
.other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 150px;
}
.other ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.other ul li {
  font-size: 13px;
  font-weight: 500;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  margin-left: 150px;
}
.contact ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.contact ul li {
  font-size: 13px;
  font-weight: 500;
}
 ul li:hover {
  color: #6F1D1B;
  transition: all 0.5s ease;
}

.footer-bottom {
  color: #939292;
  font-family: "Poppins", sans-serif;
  margin-left: 40px;
  font-size: small;
}
.footer-bottom hr {
  background: #aeaeae; 
  width: 95%; 
  margin-left: 0%;
}
.footer-bottom .fa {
  font-size: 30px;
  color: #6F1D1B;
}

.contact-form .form-control-sub {
  margin-bottom: 10px;
  height: 100px;
  width: 570px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
 
  font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.035em;
    text-transform: none;
    height: 35px;
    border-color: #cfd8dc;
}
.contact-form .form-control-mes {
  margin-bottom: 10px;
  height: 200px;
  width: 570px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.035em;
  text-transform: none;  
  border-color: #cfd8dc;
  text-align: left; 
}




